/* SASS imports*/
@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: inherit;
  background-color: $base;
  color: $base-alt;
  position: relative;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
input[type="text"]{
  display: block;
  width: 100%;
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
  color: lighten($base-alt-soft, 20%);
  background-color: $base;
  border: 0.1em solid lighten($base-alt-soft, 40%);
  box-shadow: inset 0 0.1em 0.1em rgba(0,0,0,.075);
  border-radius: 0.25em;

  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &:focus {
    outline: none;
    border-color: lighten($accent, 10%);
    box-shadow: 0 0 0.5em 0 lighten($accent, 10%);
  }
}
